{% extends 'base.html' %}

{% block titulo%}
Formulário de cadastro
{% endblock%}

{% block content %}

<body class="text-center">

    <div class="container">

        <img src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" style="width: 120px;">

        <h1 class="h3 font-weight-normal">Por favor, crie a sua conta</h1>

        <form method="POST" class="form-register" style="color: whitesmoke">

            {{ form.hidden_tag() }}

            {{ form.usuario.label() }}
            {{ form.usuario(class='form-control', placeholder = 'Informe o UserName') }}

            {{ form.email.label() }}
            {{ form.email(class='form-control', placeholder = 'Informe o Email')}}

            {{ form.senha1.label() }}
            {{ form.senha1(class='form-control', placeholder = 'Informe a Senha') }}

            {{ form.senha2.label() }}
            {{ form.senha2(class='form-control', placeholder ='Confirme a Senha')}}

            <div class="d-grid mt-2">
                {{ form.submit(class='btn btn-lg btn-success') }}
            </div>

            <div class="checkbox mt-2">
                <h5>Você já possui cadastro?</h5>
                <a class="btn btn-sm btn-secondary" href="{{url_for('page_login')}}">Acessar conta</a>
            </div>
        </form>

    </div>

</body>


{% endblock %}